.App {
  text-align: left;
}

.division {
  background: #402c38;
  color: #f8f8ff;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  user-select: none; /* 텍스트 선택 비활성화 */
  
  text-align: center;
}


.accordion {
  background-color: #9d9abe;
  height: 0;
  margin: 5px;
  user-select: none;

  transition: height 0.3s ease-in-out;
}

.activeTrue {
  background-color: #9d9abe;
  height: 200px;
  transition: height 0.3s ease-in-out;
}


